.custom-section {
  background-image: url(../../assets/images/Design-panel.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-section .content {
  max-width: 735px;
  margin: auto;
  text-align: center;
  background-size: cover;
  color: white;
  padding: 75px 0px;
}

.custom-section .title {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  font-size: 36px;
  font-weight: 300;
}

.custom-section .title:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  bottom: 0px;
  right: 45%;
  background: white;
}

.custom-section .btn-download {
  margin: 35px;
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 15px;
}
