.footer-wrapper {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-wrapper .social-list {
  display: flex;
  justify-content: center;
}

.footer-wrapper .social-item {
  margin: 0px 15px;
}

.footer-wrapper .version {
  color: #808080;
}
