.sub-list-section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.sub-list-section .sub-list-information {
  max-width: 435px;
}

.sub-list-section .sub-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

.sub-list-section .sub-title:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  bottom: 0rem;
  left: 0rem;
  background: #ff8b38;
}

.sub-list-section .sub-introduction {
  color: #86878b;
}

.sub-list-section .feature.upload {
  margin-top: 50px;
  margin-bottom: 40px;
}

.sub-list-section .feature .icon {
  margin-right: 30px;
}

.sub-list-section .feature {
  display: flex;
}

.sub-list-section .instructions .title {
  font-size: 14px;
  font-weight: 400;
}

.sub-list-section .instructions .text {
  color: #86878b;
}

@media screen and (min-width: 1440px) {
  .sub-list-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
